{% extends 'base.html' %}
{% block title %}Catálogo{% endblock %}
{% block content %}
    <h1 class="mb-4">Catálogo de Vehículos</h1>
    <div class="row">
        {% for vehiculo in vehiculos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ vehiculo.imagen }}" class="card-img-top" alt="{{ vehiculo.modelo }}" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ vehiculo.modelo }}</h5>
                        <p class="card-text">{{ vehiculo.descripcion }}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{ "{:,.0f}".format(vehiculo.precio) }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}